body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}
container{width: 100%;
    margin: 0 auto;

background-color: #f2f2f2;padding: 20px;}
button{background-color: blue;
    color: #f7f0f0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}